USE [DreamDress]
GO
/****** Object:  Table [dbo].[turns]    Script Date: 22/03/2026 03:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turns](
	[TurnId] [smallint] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[time] [time](7) NOT NULL,
	[brideId] [smallint] NULL,
	[type] [varchar](50) NULL,
 CONSTRAINT [PK_turns] PRIMARY KEY CLUSTERED 
(
	[TurnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 22/03/2026 03:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[ordId] [smallint] IDENTITY(1,1) NOT NULL,
	[DressId] [smallint] NOT NULL,
	[BrideId] [smallint] NOT NULL,
	[DateTake] [date] NULL,
	[DateReturn] [date] NULL,
	[fixes] [bit] NULL,
	[pay] [bit] NULL,
 CONSTRAINT [PK__orders__215DC1B8C5B39134] PRIMARY KEY CLUSTERED 
(
	[ordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BridesDetails]    Script Date: 22/03/2026 03:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BridesDetails](
	[BrideId] [smallint] IDENTITY(1,1) NOT NULL,
	[BrideName] [varchar](50) NOT NULL,
	[BridePhone] [varchar](50) NOT NULL,
	[BridePhone2] [varchar](50) NULL,
	[BrideEmail] [varchar](50) NOT NULL,
	[BrideCity] [varchar](50) NOT NULL,
	[BrideAddress] [varchar](50) NOT NULL,
	[DateEven] [date] NOT NULL,
 CONSTRAINT [PK_BrideDetails] PRIMARY KEY CLUSTERED 
(
	[BrideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[takenToday]    Script Date: 22/03/2026 03:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[takenToday] as(
select [dbo].[BridesDetails].[BrideId],[BrideName],[BridePhone],[DressId],'לקחת'as'לקיחה/החזרה',[pay]as'?שולם'
from [dbo].[BridesDetails] join [dbo].[orders]
on [dbo].[BridesDetails].[BrideId]=[dbo].[orders].[BrideId]
join
(select * from [dbo].[turns] where [date]=getdate() and [type]='לקחת')q1
on [dbo].[BridesDetails].[BrideId]=q1.brideId 
where  [DateTake]  is null 
union
select [dbo].[BridesDetails].[BrideId],[BrideName],[BridePhone],[DressId],'יש להחזיר'as'לקיחה/החזרה',[pay]as'?שולם'
from [dbo].[BridesDetails] join [dbo].[orders]
on [dbo].[BridesDetails].[BrideId]=[dbo].[orders].[BrideId]
 where datediff(day,[DateEven],getdate())>=1  and  [DateReturn] is null
 )
GO
/****** Object:  Table [dbo].[Dresses]    Script Date: 22/03/2026 03:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dresses](
	[DressId] [smallint] IDENTITY(1,1) NOT NULL,
	[DressName] [varchar](50) NULL,
	[DressPrice] [smallint] NOT NULL,
	[ktId] [smallint] NOT NULL,
	[DateCome] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DressMakers]    Script Date: 22/03/2026 03:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DressMakers](
	[DmId] [smallint] IDENTITY(1,1) NOT NULL,
	[DmName] [varchar](50) NOT NULL,
	[DmSkill] [varchar](50) NULL,
 CONSTRAINT [PK_seamstress] PRIMARY KEY CLUSTERED 
(
	[DmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fixes]    Script Date: 22/03/2026 03:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fixes](
	[fixId] [smallint] IDENTITY(1,1) NOT NULL,
	[ordId] [smallint] NOT NULL,
	[DmId] [smallint] NULL,
	[typeFix] [varchar](50) NULL,
	[datefix] [date] NULL,
	[describe] [varchar](100) NOT NULL,
 CONSTRAINT [PK__fixes__714C39AC43B75073] PRIMARY KEY CLUSTERED 
(
	[fixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategories]    Script Date: 22/03/2026 03:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategories](
	[ktId] [smallint] IDENTITY(1,1) NOT NULL,
	[ktName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Kategory] PRIMARY KEY CLUSTERED 
(
	[ktId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BridesDetails] ON 

INSERT [dbo].[BridesDetails] ([BrideId], [BrideName], [BridePhone], [BridePhone2], [BrideEmail], [BrideCity], [BrideAddress], [DateEven]) VALUES (1, N'אילה בוחבוט', N'0777842331', N'0548513425', N'ab3425@gmail.com', N'ירושלים', N'שמואל הנביא 20', CAST(N'2025-03-19' AS Date))
INSERT [dbo].[BridesDetails] ([BrideId], [BrideName], [BridePhone], [BridePhone2], [BrideEmail], [BrideCity], [BrideAddress], [DateEven]) VALUES (5, N'רחל זילברמן', N'026286380', N'0548572569', N'Rz2569@gmail.com', N'ירושלים', N'המשוררים 1', CAST(N'2025-06-11' AS Date))
INSERT [dbo].[BridesDetails] ([BrideId], [BrideName], [BridePhone], [BridePhone2], [BrideEmail], [BrideCity], [BrideAddress], [DateEven]) VALUES (6, N'יעל הרמן', N'0553243441', N'', N'y055324@gmail.com', N'מצפה יריחו', N'נרקיס 12', CAST(N'2024-08-09' AS Date))
SET IDENTITY_INSERT [dbo].[BridesDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Dresses] ON 

INSERT [dbo].[Dresses] ([DressId], [DressName], [DressPrice], [ktId], [DateCome]) VALUES (4, N'whiteStar', 7000, 1, CAST(N'2024-12-12' AS Date))
INSERT [dbo].[Dresses] ([DressId], [DressName], [DressPrice], [ktId], [DateCome]) VALUES (5, N'queen', 10000, 3, CAST(N'2025-01-01' AS Date))
INSERT [dbo].[Dresses] ([DressId], [DressName], [DressPrice], [ktId], [DateCome]) VALUES (6, N'inspire', 9500, 4, CAST(N'2023-08-12' AS Date))
SET IDENTITY_INSERT [dbo].[Dresses] OFF
GO
SET IDENTITY_INSERT [dbo].[DressMakers] ON 

INSERT [dbo].[DressMakers] ([DmId], [DmName], [DmSkill]) VALUES (1, N'ליס צרפתי', N'מורכב')
INSERT [dbo].[DressMakers] ([DmId], [DmName], [DmSkill]) VALUES (2, N'דבורה הולצמן', N'מורכב')
INSERT [dbo].[DressMakers] ([DmId], [DmName], [DmSkill]) VALUES (3, N'שושי אדלשטיין', N'פשוט')
SET IDENTITY_INSERT [dbo].[DressMakers] OFF
GO
SET IDENTITY_INSERT [dbo].[fixes] ON 

INSERT [dbo].[fixes] ([fixId], [ordId], [DmId], [typeFix], [datefix], [describe]) VALUES (197, 1, 4, N'סטנדרטי', CAST(N'2024-08-09' AS Date), N'הצרה 10 סמ הוספת רוכסן אחורי')
INSERT [dbo].[fixes] ([fixId], [ordId], [DmId], [typeFix], [datefix], [describe]) VALUES (219, 1, 2, N'מורכב', NULL, N'רוכסן')
INSERT [dbo].[fixes] ([fixId], [ordId], [DmId], [typeFix], [datefix], [describe]) VALUES (221, 1, 1, N'מורכב', NULL, N'מכפלת רוכסן')
SET IDENTITY_INSERT [dbo].[fixes] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategories] ON 

INSERT [dbo].[Kategories] ([ktId], [ktName]) VALUES (1, N'טול')
INSERT [dbo].[Kategories] ([ktId], [ktName]) VALUES (2, N'נפוח')
INSERT [dbo].[Kategories] ([ktId], [ktName]) VALUES (3, N'תחתית ורודה')
SET IDENTITY_INSERT [dbo].[Kategories] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([ordId], [DressId], [BrideId], [DateTake], [DateReturn], [fixes], [pay]) VALUES (1, 4, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([ordId], [DressId], [BrideId], [DateTake], [DateReturn], [fixes], [pay]) VALUES (2, 6, 9, NULL, NULL, 1, 1)
INSERT [dbo].[orders] ([ordId], [DressId], [BrideId], [DateTake], [DateReturn], [fixes], [pay]) VALUES (4, 1, 5, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
ALTER TABLE [dbo].[Dresses]  WITH CHECK ADD FOREIGN KEY([ktId])
REFERENCES [dbo].[Kategories] ([ktId])
GO
ALTER TABLE [dbo].[fixes]  WITH CHECK ADD  CONSTRAINT [FK__fixes__ordId__01142BA1] FOREIGN KEY([ordId])
REFERENCES [dbo].[orders] ([ordId])
GO
ALTER TABLE [dbo].[fixes] CHECK CONSTRAINT [FK__fixes__ordId__01142BA1]
GO
ALTER TABLE [dbo].[fixes]  WITH CHECK ADD  CONSTRAINT [FK__fixes__sId__02084FDA] FOREIGN KEY([DmId])
REFERENCES [dbo].[DressMakers] ([DmId])
GO
ALTER TABLE [dbo].[fixes] CHECK CONSTRAINT [FK__fixes__sId__02084FDA]
GO
ALTER TABLE [dbo].[turns]  WITH CHECK ADD  CONSTRAINT [FK_turns_BridesDetails] FOREIGN KEY([brideId])
REFERENCES [dbo].[BridesDetails] ([BrideId])
GO
ALTER TABLE [dbo].[turns] CHECK CONSTRAINT [FK_turns_BridesDetails]
GO
ALTER TABLE [dbo].[turns]  WITH CHECK ADD  CONSTRAINT [FK_turns_turns] FOREIGN KEY([TurnId])
REFERENCES [dbo].[turns] ([TurnId])
GO
ALTER TABLE [dbo].[turns] CHECK CONSTRAINT [FK_turns_turns]
GO
